@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Background-color
-----------------------------------------------------*/
[data-bg="base"] {
  background-color: var(--#{$prefix}-base-color);
}
[data-bg="main"] {
  background-color: var(--#{$prefix}-main-color);
}
[data-bg="accent"] {
  background-color: var(--#{$prefix}-accent-color);
}
[data-bg="light"] {
  background-color: var(--#{$prefix}-light-color);
}
[data-bg="dark"] {
  background-color: var(--#{$prefix}-dark-color);
}
[data-bg="white"] {
  background-color: #fff;
}
[data-bg="block"] {
  background-color: #000;
}
