@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Text
-----------------------------------------------------*/

[data-text] {
  --#{$prefix}-text-align: unset;
  --#{$prefix}-text-transform: unset;
  --#{$prefix}-word-break: unset;
  --#{$prefix}-overflow-wrap: unset;
  --#{$prefix}-white-space: unset;
  --#{$prefix}-letter-spacing: unset;
  --#{$prefix}-writing-mode: unset;

  text-align: var(--#{$prefix}-text-align);
  text-transform: var(--#{$prefix}-text-transform);
  word-break: var(--#{$prefix}-word-break);
  overflow-wrap: var(--#{$prefix}-overflow-wrap);
  white-space: var(--#{$prefix}-white-space);
  letter-spacing: var(--#{$prefix}-letter-spacing);
  writing-mode: var(--#{$prefix}-writing-mode);
}

// Align
// ----------------------------
[data-text~="left"] {
  --#{$prefix}-text-align: left;
}
[data-text~="center"] {
  --#{$prefix}-text-align: center;
}
[data-text~="right"] {
  --#{$prefix}-text-align: right;
}
[data-text~="justify"] {
  --#{$prefix}-text-align: justify;
  text-justify: inter-character;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-text~="#{$device}:left"] {
      --#{$prefix}-text-align: left;
    }
    [data-text~="#{$device}:center"] {
      --#{$prefix}-text-align: center;
    }
    [data-text~="#{$device}:right"] {
      --#{$prefix}-text-align: right;
    }
    [data-text~="#{$device}:justify"] {
      --#{$prefix}-text-align: justify;
      text-justify: inter-character;
    }
  }
}

// case
// ----------------------------

[data-text~="uppercase"] {
  --#{$prefix}-text-transform: uppercase;
}
[data-text~="normal-case"] {
  --#{$prefix}-text-transform: initial;
}
@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-text~="#{$device}:uppercase"] {
      --#{$prefix}-text-transform: uppercase;
    }
    [data-text~="#{$device}:normal-case"] {
      --#{$prefix}-text-transform: initial;
    }
  }
}

// Word Break
// ----------------------------
[data-text~="keep"] {
  --#{$prefix}-word-break: keep-all;
  --#{$prefix}-overflow-wrap: break-word;
}
[data-text~="phrase"] {
  --#{$prefix}-word-break: auto-phrase;
  --#{$prefix}-overflow-wrap: break-word;
}
[data-text~="default-break"] {
  --#{$prefix}-word-break: normal;
  --#{$prefix}-overflow-wrap: normal;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-text~="#{$device}:keep"] {
      --#{$prefix}-word-break: keep-all;
      --#{$prefix}-overflow-wrap: break-word;
    }
    [data-text~="#{$device}:phrase"] {
      --#{$prefix}-word-break: auto-phrase;
      --#{$prefix}-overflow-wrap: break-word;
    }
    [data-text~="#{$device}:default-break"] {
      --#{$prefix}-word-break: normal;
      --#{$prefix}-overflow-wrap: normal;
    }
  }
}

// White Space
// ----------------------------
[data-text~="nowrap"] {
  --#{$prefix}-white-space: nowrap;
}
[data-text~="wrap"] {
  --#{$prefix}-white-space: normal;
}
[data-text~="pre"] {
  --#{$prefix}-white-space: pre;
}
[data-text~="preWrap"] {
  --#{$prefix}-white-space: pre-wrap;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-text~="#{$device}:nowrap"] {
      --#{$prefix}-white-space: nowrap;
    }
    [data-text~="#{$device}:wrap"] {
      --#{$prefix}-white-space: normal;
    }
    [data-text~="#{$device}:pre"] {
      --#{$prefix}-white-space: pre;
    }
    [data-text~="#{$device}:preWrap"] {
      --#{$prefix}-white-space: pre-wrap;
    }
  }
}

// Tracking
// ----------------------------
[data-text~="-2"] {
  --#{$prefix}-letter-spacing: -0.05em;
}
[data-text~="-1"] {
  --#{$prefix}-letter-spacing: -0.025em;
}
[data-text~="0"] {
  --#{$prefix}-letter-spacing: 0;
}
[data-text~="+1"] {
  --#{$prefix}-letter-spacing: 0.025em;
}
[data-text~="+2"] {
  --#{$prefix}-letter-spacing: 0.05em;
}
[data-text~="+3"] {
  --#{$prefix}-letter-spacing: 0.1em;
}
[data-text~="+4"] {
  --#{$prefix}-letter-spacing: 0.125em;
}
[data-text~="+5"] {
  --#{$prefix}-letter-spacing: 0.15em;
}
[data-text~="+6"] {
  --#{$prefix}-letter-spacing: 0.175em;
}
[data-text~="+7"] {
  --#{$prefix}-letter-spacing: 0.2em;
}
@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-text~="#{$device}:-2"] {
      --#{$prefix}-letter-spacing: -0.05em;
    }
    [data-text~="#{$device}:-1"] {
      --#{$prefix}-letter-spacing: -0.025em;
    }
    [data-text~="#{$device}:0"] {
      --#{$prefix}-letter-spacing: 0;
    }
    [data-text~="#{$device}:+1"] {
      --#{$prefix}-letter-spacing: 0.025em;
    }
    [data-text~="#{$device}:+2"] {
      --#{$prefix}-letter-spacing: 0.05em;
    }
    [data-text~="#{$device}:+3"] {
      --#{$prefix}-letter-spacing: 0.1em;
    }
    [data-text~="#{$device}:+4"] {
      --#{$prefix}-letter-spacing: 0.125em;
    }
    [data-text~="#{$device}:+5"] {
      --#{$prefix}-letter-spacing: 0.15em;
    }
    [data-text~="#{$device}:+6"] {
      --#{$prefix}-letter-spacing: 0.175em;
    }
    [data-text~="#{$device}:+7"] {
      --#{$prefix}-letter-spacing: 0.2em;
    }
  }
}

// Writing Mode
// ----------------------------
[data-text~="tb"] {
  --#{$prefix}-writing-mode: horizontal-tb;
}
[data-text~="rl"] {
  --#{$prefix}-writing-mode: vertical-rl;
}
@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-text~="#{$device}:tb"] {
      --#{$prefix}-writing-mode: horizontal-tb;
    }
    [data-text~="#{$device}:rl"] {
      --#{$prefix}-writing-mode: vertical-rl;
    }
  }
}

// Line Height
// ----------------------------

[data-line] {
  --#{$prefix}-line-height: unset;

  line-height: var(--#{$prefix}-line-height);
}

[data-line~="-2"] {
  --#{$prefix}-line-height: 0.5;
}
[data-line~="-1"] {
  --#{$prefix}-line-height: 0.75;
}
[data-line~="1"] {
  --#{$prefix}-line-height: 1;
}
[data-line~="+1"] {
  --#{$prefix}-line-height: 1.25;
}
[data-line~="+2"] {
  --#{$prefix}-line-height: 1.5;
}
[data-line~="+3"] {
  --#{$prefix}-line-height: 1.75;
}
[data-line~="+4"] {
  --#{$prefix}-line-height: 2;
}
[data-line~="+5"] {
  --#{$prefix}-line-height: 2.25;
}
[data-line~="+6"] {
  --#{$prefix}-line-height: 2.5;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-line~="#{$device}:-2"] {
      --#{$prefix}-line-height: 0.5;
    }
    [data-line~="#{$device}:-1"] {
      --#{$prefix}-line-height: 0.75;
    }
    [data-line~="#{$device}:1"] {
      --#{$prefix}-line-height: 1;
    }
    [data-line~="#{$device}:+1"] {
      --#{$prefix}-line-height: 1.25;
    }
    [data-line~="#{$device}:+2"] {
      --#{$prefix}-line-height: 1.5;
    }
    [data-line~="#{$device}:+3"] {
      --#{$prefix}-line-height: 1.75;
    }
    [data-line~="#{$device}:+4"] {
      --#{$prefix}-line-height: 2;
    }
    [data-line~="#{$device}:+5"] {
      --#{$prefix}-line-height: 2.25;
    }
    [data-line~="#{$device}:+6"] {
      --#{$prefix}-line-height: 2.5;
    }
  }
}

// kerning
// ----------------------------
[data-font] {
  --#{$prefix}-font-settings: unset;
  --#{$prefix}-font-size: unset;
  --#{$prefix}-font-family: unset;
  --#{$prefix}-font-weight: unset;
  --#{$prefix}-font-style: unset;

  font-feature-settings: var(--#{$prefix}-font-settings);
  font-size: var(--#{$prefix}-font-size);
  font-family: var(--#{$prefix}-font-family);
  font-weight: var(--#{$prefix}-font-weight);
  font-style: var(--#{$prefix}-font-style);
}

[data-font~="default-setting"] {
  --#{$prefix}-font-settings: normal;
}
[data-font~="palt"] {
  --#{$prefix}-font-settings: "palt";
}
[data-font~="pkna"] {
  --#{$prefix}-font-settings: "pkna";
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-font~="#{$device}:default-setting"] {
      --#{$prefix}-font-settings: normal;
    }
    [data-font~="#{$device}:palt"] {
      --#{$prefix}-font-settings: "palt";
    }
    [data-font~="#{$device}:pkna"] {
      --#{$prefix}-font-settings: "pkna";
    }
  }
}

// Size
// ----------------------------
[data-font~="2xsmall"] {
  --#{$prefix}-font-size: calc(10 / 16 * 1rem);
}
[data-font~="xsmall"] {
  --#{$prefix}-font-size: calc(12 / 16 * 1rem);
}
[data-font~="small"] {
  --#{$prefix}-font-size: calc(14 / 16 * 1rem);
}
[data-font~="normal"] {
  --#{$prefix}-font-size: calc(16 / 16 * 1rem);
}
[data-font~="large"] {
  --#{$prefix}-font-size: calc(18 / 16 * 1rem);
}
[data-font~="xlarge"] {
  --#{$prefix}-font-size: calc(20 / 16 * 1rem);
}
[data-font~="2xlarge"] {
  --#{$prefix}-font-size: calc(24 / 16 * 1rem);
}
[data-font~="3xlarge"] {
  --#{$prefix}-font-size: calc(32 / 16 * 1rem);
}
[data-font~="4xlarge"] {
  --#{$prefix}-font-size: calc(40 / 16 * 1rem);
}
[data-font~="5xlarge"] {
  --#{$prefix}-font-size: calc(48 / 16 * 1rem);
}
[data-font~="6xlarge"] {
  --#{$prefix}-font-size: calc(56 / 16 * 1rem);
}
[data-font~="7xlarge"] {
  --#{$prefix}-font-size: calc(64 / 16 * 1rem);
}
[data-font~="8xlarge"] {
  --#{$prefix}-font-size: calc(72 / 16 * 1rem);
}
[data-font~="9xlarge"] {
  --#{$prefix}-font-size: calc(80 / 16 * 1rem);
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-font~="#{$device}:2xsmall"] {
      --#{$prefix}-font-size: calc(10 / 16 * 1rem);
    }
    [data-font~="#{$device}:xsmall"] {
      --#{$prefix}-font-size: calc(12 / 16 * 1rem);
    }
    [data-font~="#{$device}:small"] {
      --#{$prefix}-font-size: calc(14 / 16 * 1rem);
    }
    [data-font~="#{$device}:normal"] {
      --#{$prefix}-font-size: calc(16 / 16 * 1rem);
    }
    [data-font~="#{$device}:large"] {
      --#{$prefix}-font-size: calc(18 / 16 * 1rem);
    }
    [data-font~="#{$device}:xlarge"] {
      --#{$prefix}-font-size: calc(20 / 16 * 1rem);
    }
    [data-font~="#{$device}:2xlarge"] {
      --#{$prefix}-font-size: calc(24 / 16 * 1rem);
    }
    [data-font~="#{$device}:3xlarge"] {
      --#{$prefix}-font-size: calc(32 / 16 * 1rem);
    }
    [data-font~="#{$device}:4xlarge"] {
      --#{$prefix}-font-size: calc(40 / 16 * 1rem);
    }
    [data-font~="#{$device}:5xlarge"] {
      --#{$prefix}-font-size: calc(48 / 16 * 1rem);
    }
    [data-font~="#{$device}:6xlarge"] {
      --#{$prefix}-font-size: calc(56 / 16 * 1rem);
    }
    [data-font~="#{$device}:7xlarge"] {
      --#{$prefix}-font-size: calc(64 / 16 * 1rem);
    }
    [data-font~="#{$device}:8xlarge"] {
      --#{$prefix}-font-size: calc(72 / 16 * 1rem);
    }
    [data-font~="#{$device}:9xlarge"] {
      --#{$prefix}-font-size: calc(80 / 16 * 1rem);
    }
  }
}

// family
// ----------------------------
[data-font~="font-set-1"] {
  --#{$prefix}-font-family: var(--#{$prefix}-font-set-1, "sans-serif");
}
[data-font~="font-set-2"] {
  --#{$prefix}-font-family: var(--#{$prefix}-font-set-2, "sans-serif");
}
[data-font~="font-set-3"] {
  --#{$prefix}-font-family: var(--#{$prefix}-font-set-3, "sans-serif");
}
@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-font~="#{$device}:font-set-1"] {
      --#{$prefix}-font-family: var(--#{$prefix}-font-set-1, "sans-serif");
    }
    [data-font~="#{$device}:font-set-2"] {
      --#{$prefix}-font-family: var(--#{$prefix}-en-font-set, "sans-serif");
    }
    [data-font~="#{$device}:font-set-3"] {
      --#{$prefix}-font-family: var(--#{$prefix}-en-font-set, "sans-serif");
    }
  }
}

// Weight
// ----------------------------
@for $i from 1 through 9 {
  [data-font~="#{$i * 100}"] {
    --#{$prefix}-font-weight: #{$i} * 100;
  }
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    @for $i from 1 through 9 {
      [data-font~="#{$device}:#{$i * 100}"] {
        --#{$prefix}-font-weight: #{$i} * 100;
      }
    }
  }
}

// Style
// ----------------------------
[data-font~="upright"] {
  --#{$prefix}-font-style: normal;
}
[data-font~="italic"] {
  --#{$prefix}-font-style: italic;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-font~="#{$device}:upright"] {
      --#{$prefix}-font-style: normal;
    }
    [data-font~="#{$device}:italic"] {
      --#{$prefix}-font-style: italic;
    }
  }
}

// Color
// ----------------------------
[data-color] {
  color: var(--#{$prefix}-color, unset);
}
[data-color~="text-1"] {
  --#{$prefix}-color: var(--#{$prefix}-text-color-1);
}
[data-color~="text-2"] {
  --#{$prefix}-color: var(--#{$prefix}-text-color-2);
}
[data-color~="text-3"] {
  --#{$prefix}-color: var(--#{$prefix}-text-color-3);
}
[data-color~="main"] {
  --#{$prefix}-color: var(--#{$prefix}-main-color);
}
[data-color~="accent"] {
  --#{$prefix}-color: var(--#{$prefix}-accent-color);
}
[data-color~="white"] {
  --#{$prefix}-color: #fff;
}
[data-color~="black"] {
  --#{$prefix}-color: #000;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-color~="#{$device}:text-1"] {
      --#{$prefix}-color: var(--#{$prefix}-text-color-1);
    }
    [data-color~="#{$device}:text-2"] {
      --#{$prefix}-color: var(--#{$prefix}-text-color-2);
    }
    [data-color~="#{$device}:text-3"] {
      --#{$prefix}-color: var(--#{$prefix}-text-color-3);
    }
    [data-color~="#{$device}:main"] {
      --#{$prefix}-color: var(--#{$prefix}-main-color);
    }
    [data-color~="#{$device}:accent"] {
      --#{$prefix}-color: var(--#{$prefix}-accent-color);
    }
    [data-color~="#{$device}:white"] {
      --#{$prefix}-color: #fff;
    }
    [data-color~="#{$device}:black"] {
      --#{$prefix}-color: #000;
    }
  }
}
