@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Card
*/
:where([data-card]) {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
}

:where([data-card-body]) {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  order: 1;
}

:where([data-card-tumbnail]) {
  order: 0;
}

:where([data-card-image]) {
  width: 100%;
}
