@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;
/*
  Media
*/
:where([data-media]) {
  display: flex;
  position: relative;
  flex: 1 0 auto;
  flex-direction: row;
  color: inherit;
  text-decoration: none;
}

:where([data-media-body]) {
  display: flex;
  flex-direction: column;
  order: 1;
}

:where([data-media-thumbnail]) {
  position: relative;
  flex-shrink: 0;
}
