:root {
  --ol-content-width: 1440;

  /* --ol-base-color: #ecebe3; */
  --ol-base-color: #1c1c1c;
  --ol-main-color: #efefef;
  --ol-accent-color: #e9e1c8;
  --ol-light-color: #ecebe3;
  --ol-dark-color: #161616;
  --ol-text-color-1: #ecebe3;
  --ol-text-color-2: #fff;
  --ol-font-set-1: "Zen Kaku Gothic New", sans-serif;
  --ol-font-set-2: "Marcellus", serif;
  --ol-base-line-height: 2;
  /* --ol-base-feature-settings: "palt"; */
  /* --ol-base-letter-spacing: 1em; */
}

[lang="en"] {
  font-family: var(--ol-font-set-2);
}

.box {
  padding: 1rem;
  background-color: #101010;
}

.hero {
  font-size: fluid(80, 160);
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--ol-accent-color);
  /* color: var(--ol-base-color); */
}

.full {
  width: 100%;
}

h1 {
  font-size: rem(24);
  letter-spacing: 0.05em;
  /* color: var(--ol-accent-color); */
}

h2 {
  font-size: fluid(20, 40);
  letter-spacing: 0.05em;
  /* color: var(--ol-accent-color); */
}
h3 {
  font-size: fluid(16, 24);
  letter-spacing: 0.05em;
  border-bottom: 1px solid currentColor;
  /* color: var(--ol-accent-color); */
}

@media (--ol-lg) {
  h1 {
    font-size: rem(40);
  }
}
