@charset "UTF-8";
@use "sass:math";
@use "../global" as *;

// ====================================
//  Alignment
// ====================================

[data-align] {
  --ol-justify: normal;
  --ol-align: normal;

  justify-content: var(--ol-justify);
  align-items: var(--ol-align);
}

[data-align~="normal"] {
  --ol-justify: flex-start;
}

[data-align~="start"] {
  --ol-justify: flex-start;
}

[data-align~="center"] {
  --ol-justify: center;
}

[data-align~="end"] {
  --ol-justify: flex-end;
}

[data-align~="between"] {
  --ol-justify: space-between;
}

[data-align~="first"] {
  --ol-align: flex-start;
}

[data-align~="middle"] {
  --ol-align: center;
}

[data-align~="last"] {
  --ol-align: flex-end;
}

[data-align~="stretch"] {
  --ol-align: stretch;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-align~="#{$device}:normal"] {
      --ol-justify: flex-start;
    }

    [data-align~="#{$device}:start"] {
      --ol-justify: flex-start;
    }

    [data-align~="#{$device}:center"] {
      --ol-justify: center;
    }

    [data-align~="#{$device}:end"] {
      --ol-justify: flex-end;
    }

    [data-align~="#{$device}:between"] {
      --ol-justify: space-between;
    }

    [data-align~="#{$device}:first"] {
      --ol-align: flex-start;
    }

    [data-align~="#{$device}:middle"] {
      --ol-align: center;
    }

    [data-align~="#{$device}:last"] {
      --ol-align: flex-end;
    }

    [data-align~="#{$device}:stretch"] {
      --ol-align: stretch;
    }
  }
}
