@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Container
----------------------------------------------------- */
[data-container] {
  --#{$prefix}-offset-left: var(--#{$prefix}-md-offset);
  --#{$prefix}-offset-right: var(--#{$prefix}-md-offset);
  --#{$prefix}-margin-right: auto;
  --#{$prefix}-margin-left: auto;

  padding-left: var(--#{$prefix}-offset-left);
  padding-right: var(--#{$prefix}-offset-right);
  margin-right: var(--#{$prefix}-margin-right);
  margin-left: var(--#{$prefix}-margin-left);
  box-sizing: content-box;
}

// Align
// ----------------------------

[data-container~="left"] {
  --#{$prefix}-margin-left: 0;
  --#{$prefix}-margin-right: auto;
}
[data-container~="right"] {
  --#{$prefix}-margin-left: auto;
  --#{$prefix}-margin-right: 0;
}
[data-container~="center"] {
  --#{$prefix}-margin-left: auto;
  --#{$prefix}-margin-right: auto;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-container~="#{$device}:left"] {
      --#{$prefix}-margin-left: 0;
      --#{$prefix}-margin-right: auto;
    }
    [data-container~="#{$device}:right"] {
      --#{$prefix}-margin-left: auto;
      --#{$prefix}-margin-right: 0;
    }
    [data-container~="#{$device}:center"] {
      --#{$prefix}-margin-left: auto;
      --#{$prefix}-margin-right: auto;
    }
  }
}

// Offset
// ----------------------------

[data-container~="small"] {
  --#{$prefix}-offset-left: var(--#{$prefix}-sm-offset);
  --#{$prefix}-offset-right: var(--#{$prefix}-sm-offset);
}
[data-container~="medium"] {
  --#{$prefix}-offset-left: var(--#{$prefix}-md-offset);
  --#{$prefix}-offset-right: var(--#{$prefix}-md-offset);
}
[data-container~="large"] {
  --#{$prefix}-offset-left: var(--#{$prefix}-lg-offset);
  --#{$prefix}-offset-right: var(--#{$prefix}-lg-offset);
}
[data-container~="xlarge"] {
  --#{$prefix}-offset-left: var(--#{$prefix}-xl-offset);
  --#{$prefix}-offset-right: var(--#{$prefix}-xl-offset);
}
[data-container~="none"] {
  --#{$prefix}-offset-left: 0;
  --#{$prefix}-offset-right: 0;
}
[data-container~="l-small"] {
  --#{$prefix}-offset-left: var(--#{$prefix}-sm-offset);
}
[data-container~="l-medium"] {
  --#{$prefix}-offset-left: var(--#{$prefix}-md-offset);
}
[data-container~="l-large"] {
  --#{$prefix}-offset-left: var(--#{$prefix}-lg-offset);
}
[data-container~="l-xlarge"] {
  --#{$prefix}-offset-left: var(--#{$prefix}-xl-offset);
}
[data-container~="l-none"] {
  --#{$prefix}-offset-left: 0;
}
[data-container~="r-small"] {
  --#{$prefix}-offset-right: var(--#{$prefix}-sm-offset);
}
[data-container~="r-medium"] {
  --#{$prefix}-offset-right: var(--#{$prefix}-md-offset);
}
[data-container~="r-large"] {
  --#{$prefix}-offset-right: var(--#{$prefix}-lg-offset);
}
[data-container~="r-xlarge"] {
  --#{$prefix}-offset-right: var(--#{$prefix}-xl-offset);
}
[data-container~="r-none"] {
  --#{$prefix}-offset-right: 0;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-container~="#{$device}:small"] {
      --#{$prefix}-offset-left: var(--#{$prefix}-sm-offset);
      --#{$prefix}-offset-right: var(--#{$prefix}-sm-offset);
    }
    [data-container~="#{$device}:medium"] {
      --#{$prefix}-offset-left: var(--#{$prefix}-md-offset);
      --#{$prefix}-offset-right: var(--#{$prefix}-md-offset);
    }
    [data-container~="#{$device}:large"] {
      --#{$prefix}-offset-left: var(--#{$prefix}-lg-offset);
      --#{$prefix}-offset-right: var(--#{$prefix}-lg-offset);
    }
    [data-container~="#{$device}:xlarge"] {
      --#{$prefix}-offset-left: var(--#{$prefix}-xl-offset);
      --#{$prefix}-offset-right: var(--#{$prefix}-xl-offset);
    }
    [data-container~="#{$device}:none"] {
      --#{$prefix}-offset-left: 0;
      --#{$prefix}-offset-right: 0;
    }
    [data-container~="#{$device}:l-small"] {
      --#{$prefix}-offset-left: var(--#{$prefix}-sm-offset);
    }
    [data-container~="#{$device}:l-medium"] {
      --#{$prefix}-offset-left: var(--#{$prefix}-md-offset);
    }
    [data-container~="#{$device}:l-large"] {
      --#{$prefix}-offset-left: var(--#{$prefix}-lg-offset);
    }
    [data-container~="#{$device}:l-xlarge"] {
      --#{$prefix}-offset-left: var(--#{$prefix}-xl-offset);
    }
    [data-container~="#{$device}:l-none"] {
      --#{$prefix}-offset-left: 0;
    }
    [data-container~="#{$device}:r-small"] {
      --#{$prefix}-offset-right: var(--#{$prefix}-sm-offset);
    }
    [data-container~="#{$device}:r-medium"] {
      --#{$prefix}-offset-right: var(--#{$prefix}-md-offset);
    }
    [data-container~="#{$device}:r-large"] {
      --#{$prefix}-offset-right: var(--#{$prefix}-lg-offset);
    }
    [data-container~="#{$device}:r-xlarge"] {
      --#{$prefix}-offset-right: var(--#{$prefix}-xl-offset);
    }
    [data-container~="#{$device}:r-none"] {
      --#{$prefix}-offset-right: 0;
    }
  }
}

// Over Container
// ----------------------------
[data-over] {
  --#{$prefix}-over-left: calc(-1 * var(--#{$prefix}-offset-left, 0));
  --#{$prefix}-over-right: calc(-1 * var(--#{$prefix}-offset-right, 0));

  margin-right: var(--#{$prefix}-margin-right, 0);
  margin-left: var(--#{$prefix}-margin-left, 0);
}

[data-over~="left"] {
  --#{$prefix}-margin-left: var(--#{$prefix}-over-left);
  --#{$prefix}-margin-right: 0;
}

[data-over~="right"] {
  --#{$prefix}-margin-left: 0;
  --#{$prefix}-margin-right: var(--#{$prefix}-over-right);
}

[data-over~="both"] {
  --#{$prefix}-margin-left: var(--#{$prefix}-over-left);
  --#{$prefix}-margin-right: var(--#{$prefix}-over-right);
}

[data-over~="clear"] {
  --#{$prefix}-margin-left: 0;
  --#{$prefix}-margin-right: 0;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-over~="#{$device}:left"] {
      --#{$prefix}-margin-left: var(--#{$prefix}-over-left);
      --#{$prefix}-margin-right: 0;
    }
    [data-over~="#{$device}:right"] {
      --#{$prefix}-margin-left: 0;
      --#{$prefix}-margin-right: var(--#{$prefix}-over-right);
    }

    [data-over~="#{$device}:both"] {
      --#{$prefix}-margin-left: var(--#{$prefix}-over-left);
      --#{$prefix}-margin-right: var(--#{$prefix}-over-right);
    }

    [data-over~="#{$device}:clear"] {
      --#{$prefix}-margin-left: 0;
      --#{$prefix}-margin-right: 0;
    }
  }
}
