@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Container
----------------------------------------------------- */
[data-container] {
  --#{$prefix}-container-offset-ratio: 2;
  --#{$prefix}-container-left-offset: var(--#{$prefix}-md-offset);
  --#{$prefix}-container-right-offset: var(--#{$prefix}-md-offset);
  --#{$prefix}-left-offset: var(--#{$prefix}-container-left-offset);
  --#{$prefix}-right-offset: var(--#{$prefix}-container-right-offset);
  --#{$prefix}-left-margin: auto;
  --#{$prefix}-right-margin: auto;

  padding-right: var(--#{$prefix}-right-offset);
  padding-left: var(--#{$prefix}-left-offset);
  margin-right: var(--#{$prefix}-right-margin);
  margin-left: var(--#{$prefix}-left-margin);
  box-sizing: content-box;
}

// Align
// ----------------------------

[data-container~="left"] {
  --#{$prefix}-left-margin: 0;
  --#{$prefix}-right-margin: auto;
}
[data-container~="right"] {
  --#{$prefix}-left-margin: auto;
  --#{$prefix}-right-margin: 0;
}
[data-container~="center"] {
  --#{$prefix}-left-margin: 0;
  --#{$prefix}-right-margin: auto;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-container~="#{$device}:left"] {
      --#{$prefix}-left-margin: 0;
      --#{$prefix}-right-margin: auto;
    }
    [data-container~="#{$device}:right"] {
      --#{$prefix}-left-margin: auto;
      --#{$prefix}-right-margin: 0;
    }
    [data-container~="#{$device}:center"] {
      --#{$prefix}-left-margin: 0;
      --#{$prefix}-right-margin: auto;
    }
  }
}

// Offset
// ----------------------------

[data-offset~="small"] {
  --#{$prefix}-container-left-offset: var(--#{$prefix}-sm-offset);
  --#{$prefix}-container-right-offset: var(--#{$prefix}-sm-offset);
}
[data-offset~="medium"] {
  --#{$prefix}-container-left-offset: var(--#{$prefix}-md-offset);
  --#{$prefix}-container-right-offset: var(--#{$prefix}-md-offset);
}
[data-offset~="large"] {
  --#{$prefix}-container-left-offset: var(--#{$prefix}-lg-offset);
  --#{$prefix}-container-right-offset: var(--#{$prefix}-lg-offset);
}
[data-offset~="xlarge"] {
  --#{$prefix}-container-left-offset: var(--#{$prefix}-xl-offset);
  --#{$prefix}-container-right-offset: var(--#{$prefix}-xl-offset);
}
[data-offset~="none"] {
  --#{$prefix}-container-left-offset: 0;
  --#{$prefix}-container-right-offset: 0;
}
[data-offset-left~="small"] {
  --#{$prefix}-container-left-offset: var(--#{$prefix}-sm-offset);
}
[data-offset-left~="medium"] {
  --#{$prefix}-container-left-offset: var(--#{$prefix}-md-offset);
}
[data-offset-left~="large"] {
  --#{$prefix}-container-left-offset: var(--#{$prefix}-lg-offset);
}
[data-offset-left~="xlarge"] {
  --#{$prefix}-container-left-offset: var(--#{$prefix}-xl-offset);
}
[data-offset-left~="none"] {
  --#{$prefix}-container-left-offset: 0;
}
[data-offset-right~="small"] {
  --#{$prefix}-container-right-offset: var(--#{$prefix}-sm-offset);
}
[data-offset-right~="medium"] {
  --#{$prefix}-container-right-offset: var(--#{$prefix}-md-offset);
}
[data-offset-right~="large"] {
  --#{$prefix}-container-right-offset: var(--#{$prefix}-lg-offset);
}
[data-offset-right~="xlarge"] {
  --#{$prefix}-container-right-offset: var(--#{$prefix}-xl-offset);
}
[data-offset-right~="none"] {
  --#{$prefix}-container-right-offset: 0;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-offset~="#{$device}:small"] {
      --#{$prefix}-container-left-offset: var(--#{$prefix}-sm-offset);
      --#{$prefix}-container-right-offset: var(--#{$prefix}-sm-offset);
    }
    [data-offset~="#{$device}:medium"] {
      --#{$prefix}-container-left-offset: var(--#{$prefix}-md-offset);
      --#{$prefix}-container-right-offset: var(--#{$prefix}-md-offset);
    }
    [data-offset~="#{$device}:large"] {
      --#{$prefix}-container-left-offset: var(--#{$prefix}-lg-offset);
      --#{$prefix}-container-right-offset: var(--#{$prefix}-lg-offset);
    }
    [data-offset~="#{$device}:xlarge"] {
      --#{$prefix}-container-left-offset: var(--#{$prefix}-xl-offset);
      --#{$prefix}-container-right-offset: var(--#{$prefix}-xl-offset);
    }
    [data-offset~="#{$device}:none"] {
      --#{$prefix}-container-left-offset: 0;
      --#{$prefix}-container-right-offset: 0;
    }
    [data-offset-left~="#{$device}:small"] {
      --#{$prefix}-container-left-offset: var(--#{$prefix}-sm-offset);
    }
    [data-offset-left~="#{$device}:medium"] {
      --#{$prefix}-container-left-offset: var(--#{$prefix}-md-offset);
    }
    [data-offset-left~="#{$device}:large"] {
      --#{$prefix}-container-left-offset: var(--#{$prefix}-lg-offset);
    }
    [data-offset-left~="#{$device}:xlarge"] {
      --#{$prefix}-container-left-offset: var(--#{$prefix}-xl-offset);
    }
    [data-offset-left~="#{$device}:none"] {
      --#{$prefix}-container-left-offset: 0;
    }
    [data-offset-right~="#{$device}:small"] {
      --#{$prefix}-container-right-offset: var(--#{$prefix}-sm-offset);
    }
    [data-offset-right~="#{$device}:medium"] {
      --#{$prefix}-container-right-offset: var(--#{$prefix}-md-offset);
    }
    [data-offset-right~="#{$device}:large"] {
      --#{$prefix}-container-right-offset: var(--#{$prefix}-lg-offset);
    }
    [data-offset-right~="#{$device}:xlarge"] {
      --#{$prefix}-container-right-offset: var(--#{$prefix}-xl-offset);
    }
    [data-offset-right~="#{$device}:none"] {
      --#{$prefix}-container-right-offset: 0;
    }
  }
}

// Over Container
// ----------------------------
[data-over] {
  --#{$prefix}-left-over: calc(-1 * var(--#{$prefix}-left-offset, 0));
  --#{$prefix}-right-over: calc(-1 * var(--#{$prefix}-right-offset, 0));

  margin-right: var(--#{$prefix}-right-margin, 0);
  margin-left: var(--#{$prefix}-left-margin, 0);
}

[data-over~="left"] {
  --#{$prefix}-left-margin: var(--#{$prefix}-left-over);
  --#{$prefix}-right-margin: 0;
}

[data-over~="right"] {
  --#{$prefix}-left-margin: 0;
  --#{$prefix}-right-margin: var(--#{$prefix}-right-over);
}

[data-over~="both"] {
  --#{$prefix}-left-margin: var(--#{$prefix}-left-over);
  --#{$prefix}-right-margin: var(--#{$prefix}-right-over);
}

[data-over~="clearLeft"] {
  --#{$prefix}-left-margin: 0;
}

[data-over~="clearRight"] {
  --#{$prefix}-right-margin: 0;
}

[data-over~="clearBoth"] {
  --#{$prefix}-left-margin: 0;
  --#{$prefix}-right-margin: 0;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-over~="#{$device}:left"] {
      --#{$prefix}-left-margin: var(--#{$prefix}-left-over);
      --#{$prefix}-right-margin: 0;
    }
    [data-over~="#{$device}:right"] {
      --#{$prefix}-left-margin: 0;
      --#{$prefix}-right-margin: var(--#{$prefix}-right-over);
    }

    [data-over~="#{$device}:both"] {
      --#{$prefix}-left-margin: var(--#{$prefix}-left-over);
      --#{$prefix}-right-margin: var(--#{$prefix}-right-over);
    }

    [data-over~="#{$device}:clearLeft"] {
      --#{$prefix}-left-margin: 0;
    }
    [data-over~="#{$device}:clearRight"] {
      --#{$prefix}-right-margin: 0;
    }
    [data-over~="#{$device}:clearBoth"] {
      --#{$prefix}-left-margin: 0;
      --#{$prefix}-right-margin: 0;
    }
  }
}
