@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Container
----------------------------------------------------- */
.#{$prefix}-container {
  --#{$prefix}-container-offset-ratio: 2;
  --#{$prefix}-container-left-offset: var(--#{$prefix}-md-offset);
  --#{$prefix}-container-right-offset: var(--#{$prefix}-md-offset);
  --#{$prefix}-left-offset: var(--#{$prefix}-container-left-offset);
  --#{$prefix}-right-offset: var(--#{$prefix}-container-right-offset);

  padding-right: var(--#{$prefix}-right-offset);
  padding-left: var(--#{$prefix}-left-offset);

  @each $device, $breakpoint in $breakpoints {
    @include mq($device) {
      // Offset
      // ----------------------------
      &[data-offset~="#{$device}:small"] {
        --#{$prefix}-container-left-offset: var(--#{$prefix}-sm-offset);
        --#{$prefix}-container-right-offset: var(--#{$prefix}-sm-offset);
      }
      &[data-offset~="#{$device}:medium"] {
        --#{$prefix}-container-left-offset: var(--#{$prefix}-md-offset);
        --#{$prefix}-container-right-offset: var(--#{$prefix}-md-offset);
      }
      &[data-offset~="#{$device}:large"] {
        --#{$prefix}-container-left-offset: var(--#{$prefix}-lg-offset);
        --#{$prefix}-container-right-offset: var(--#{$prefix}-lg-offset);
      }
      &[data-offset~="#{$device}:xlarge"] {
        --#{$prefix}-container-left-offset: var(--#{$prefix}-xl-offset);
        --#{$prefix}-container-right-offset: var(--#{$prefix}-xl-offset);
      }
      &[data-offset~="#{$device}:none"] {
        --#{$prefix}-container-left-offset: 0;
        --#{$prefix}-container-right-offset: 0;
      }
      &[data-offset-left~="#{$device}:small"] {
        --#{$prefix}-container-left-offset: var(--#{$prefix}-sm-offset);
      }
      &[data-offset-left~="#{$device}:medium"] {
        --#{$prefix}-container-left-offset: var(--#{$prefix}-md-offset);
      }
      &[data-offset-left~="#{$device}:large"] {
        --#{$prefix}-container-left-offset: var(--#{$prefix}-lg-offset);
      }
      &[data-offset-left~="#{$device}:xlarge"] {
        --#{$prefix}-container-left-offset: var(--#{$prefix}-xl-offset);
      }
      &[data-offset-left~="#{$device}:none"] {
        --#{$prefix}-container-left-offset: 0;
      }
      &[data-offset-right~="#{$device}:small"] {
        --#{$prefix}-container-right-offset: var(--#{$prefix}-sm-offset);
      }
      &[data-offset-right~="#{$device}:medium"] {
        --#{$prefix}-container-right-offset: var(--#{$prefix}-md-offset);
      }
      &[data-offset-right~="#{$device}:large"] {
        --#{$prefix}-container-right-offset: var(--#{$prefix}-lg-offset);
      }
      &[data-offset-right~="#{$device}:xlarge"] {
        --#{$prefix}-container-right-offset: var(--#{$prefix}-xl-offset);
      }
      &[data-offset-right~="#{$device}:none"] {
        --#{$prefix}-container-right-offset: 0;
      }

      // Max
      // ----------------------------
      &[data-max~="#{$device}:small"] {
        --#{$prefix}-left-offset: max(var(--#{$prefix}-container-left-offset), calc((100% - (var(--#{$prefix}-sm-content-width) * 1px)) / var(--#{$prefix}-container-offset-ratio)));
        --#{$prefix}-right-offset: max(var(--#{$prefix}-container-right-offset), calc((100% - (var(--#{$prefix}-sm-content-width) * 1px)) / var(--#{$prefix}-container-offset-ratio)));
      }
      &[data-max~="#{$device}:medium"] {
        --#{$prefix}-left-offset: max(var(--#{$prefix}-container-left-offset), calc((100% - (var(--#{$prefix}-md-content-width) * 1px)) / var(--#{$prefix}-container-offset-ratio)));
        --#{$prefix}-right-offset: max(var(--#{$prefix}-container-right-offset), calc((100% - (var(--#{$prefix}-md-content-width) * 1px)) / var(--#{$prefix}-container-offset-ratio)));
      }
      &[data-max~="#{$device}:large"] {
        --#{$prefix}-left-offset: max(var(--#{$prefix}-container-left-offset), calc((100% - (var(--#{$prefix}-lg-content-width) * 1px)) / var(--#{$prefix}-container-offset-ratio)));
        --#{$prefix}-right-offset: max(var(--#{$prefix}-container-right-offset), calc((100% - (var(--#{$prefix}-lg-content-width) * 1px)) / var(--#{$prefix}-container-offset-ratio)));
      }
      &[data-max~="#{$device}:xlarge"] {
        --#{$prefix}-left-offset: max(var(--#{$prefix}-container-left-offset), calc((100% - (var(--#{$prefix}-xl-content-width) * 1px)) / var(--#{$prefix}-container-offset-ratio)));
        --#{$prefix}-right-offset: max(var(--#{$prefix}-container-right-offset), calc((100% - (var(--#{$prefix}-xl-content-width) * 1px)) / var(--#{$prefix}-container-offset-ratio)));
      }
      &[data-max~="#{$device}:xxlarge"] {
        --#{$prefix}-left-offset: max(var(--#{$prefix}-container-left-offset), calc((100% - (var(--#{$prefix}-xxl-content-width) * 1px)) / var(--#{$prefix}-container-offset-ratio)));
        --#{$prefix}-right-offset: max(var(--#{$prefix}-container-right-offset), calc((100% - (var(--#{$prefix}-xxl-content-width) * 1px)) / var(--#{$prefix}-container-offset-ratio)));
      }
      &[data-max~="#{$device}:none"] {
        --#{$prefix}-left-offset: var(--#{$prefix}-container-left-offset);
        --#{$prefix}-right-offset: var(--#{$prefix}-container-right-offset);
      }

      // Align
      // ----------------------------
      &[data-align~="#{$device}:left"] {
        --#{$prefix}-container-offset-ratio: 1;

        padding-left: 0;
      }
      &[data-align~="#{$device}:right"] {
        --#{$prefix}-container-offset-ratio: 1;

        padding-right: 0;
      }
      &[data-align~="#{$device}:center"] {
        --#{$prefix}-container-offset-ratio: 2;
        --#{$prefix}-left-offset: var(--#{$prefix}-container-left-offset);
        --#{$prefix}-right-offset: var(--#{$prefix}-container-right-offset);
      }
    }
  }
}
