@charset "UTF-8";
@use "sass:math";
@use "../global" as *;

// ====================================
//  Flex
// ====================================
[data-flex] {
  display: flex;
  flex-wrap: wrap;
}

// Wrap
// ----------------------------
[data-flow~="nowrap"] {
  flex-wrap: nowrap;
}
[data-flow~="wrap"] {
  flex-wrap: wrap;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-flow~="#{$device}:nowrap"] {
      flex-wrap: nowrap;
    }
    [data-flow~="#{$device}:wrap"] {
      flex-wrap: wrap;
    }
  }
}

// Direction
// ----------------------------

[data-flow~="row"] {
  flex-direction: row;
}
[data-flow~="row-reverse"] {
  flex-direction: row-reverse;
}
[data-flow~="col"] {
  flex-direction: column;
}
[data-flow~="col-reverse"] {
  flex-direction: column-reverse;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-flow~="#{$device}:row"] {
      flex-direction: row;
    }
    [data-flow~="#{$device}:row-reverse"] {
      flex-direction: row-reverse;
    }
    [data-flow~="#{$device}:col"] {
      flex-direction: column;
    }
    [data-flow~="#{$device}:col-reverse"] {
      flex-direction: column-reverse;
    }
  }
}

[data-flex-item] {
  display: flex;
  flex-direction: column;
}

// Grow & Shrink
// ----------------------------

@for $i from 0 through 3 {
  [data-grow~="#{$i}"] {
    flex-grow: $i;
  }
  [data-shrink~="#{$i}"] {
    flex-shrink: $i;
  }
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    @for $i from 0 through 3 {
      [data-grow~="#{$device}:#{$i}"] {
        flex-grow: $i;
      }
      [data-shrink~="#{$device}:#{$i}"] {
        flex-shrink: $i;
      }
    }
  }
}

// Over Container
// ----------------------------

[data-over~="left"]:where([data-flex-item]),
[data-over~="right"]:where([data-flex-item]),
[data-over~="both"]:where([data-flex-item]) {
  flex-grow: 1;
}

[data-over~="clear"]:where([data-flex-item]) {
  flex-grow: 0;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-over~="#{$device}:left"]:where([data-flex-item]),
    [data-over~="#{$device}:right"]:where([data-flex-item]),
    [data-over~="#{$device}:both"]:where([data-flex-item]) {
      flex-grow: 1;
    }

    [data-over~="#{$device}:clear"]:where([data-flex-item]) {
      flex-grow: 0;
    }
  }
}
