@charset "UTF-8";
@use "sass:math";
@use "../global" as *;

// ====================================
//  Flex
// ====================================
[data-flex] {
  display: flex;
  flex-wrap: wrap;
}

// Display

[data-flex~="unset"] {
  display: revert;
}
[data-flex~="block"] {
  display: flex;
}
[data-flex~="inline"] {
  display: inline-flex;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-flex~="#{$device}:unset"] {
      display: revert;
    }
    [data-flex~="#{$device}:block"] {
      display: flex;
    }
    [data-flex~="#{$device}:inline"] {
      display: inline-flex;
    }
  }
}

// Wrap
// ----------------------------
[data-flex~="nowrap"] {
  flex-wrap: nowrap;
}
[data-flex~="wrap"] {
  flex-wrap: wrap;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-flex~="#{$device}:nowrap"] {
      flex-wrap: nowrap;
    }
    [data-flex~="#{$device}:wrap"] {
      flex-wrap: wrap;
    }
  }
}

// Direction
// ----------------------------

[data-flex~="row"] {
  flex-direction: row;
}
[data-flex~="row-reverse"] {
  flex-direction: row-reverse;
}
[data-flex~="col"] {
  flex-direction: column;
}
[data-flex~="col-reverse"] {
  flex-direction: column-reverse;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-flex~="#{$device}:row"] {
      flex-direction: row;
    }
    [data-flex~="#{$device}:row-reverse"] {
      flex-direction: row-reverse;
    }
    [data-flex~="#{$device}:col"] {
      flex-direction: column;
    }
    [data-flex~="#{$device}:col-reverse"] {
      flex-direction: column-reverse;
    }
  }
}

// Grow & Shrink
// ----------------------------

[data-flex-item] {
  flex: var(--ol-grow, unset) var(--ol-shrink, unset) auto;
}

@for $i from 0 through 3 {
  [data-flex-item~="g-#{$i}"] {
    --ol-grow: #{$i};
  }
  [data-flex-item~="s-#{$i}"] {
    --ol-shrink: #{$i};
  }
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    @for $i from 0 through 3 {
      [data-flex-item~="#{$device}:g-#{$i}"] {
        --ol-grow: #{$i};
      }
      [data-flex-item~="#{$device}:s-#{$i}"] {
        --ol-shrink: #{$i};
      }
    }
  }
}
