@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Height
----------------------------------------------------- */
[data-height] {
  --#{$prefix}-height: auto;

  height: var(--#{$prefix}-height);
}

[data-height~="auto"] {
  --#{$prefix}-height: auto;
}

[data-height~="full"] {
  --#{$prefix}-height: 100%;
}

[data-height~="device"] {
  --#{$prefix}-height: 100vh;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-height~="#{$device}:auto"] {
      --#{$prefix}-height: auto;
    }

    [data-height~="#{$device}:full"] {
      --#{$prefix}-height: 100%;
    }

    [data-height~="#{$device}:device"] {
      --#{$prefix}-height: 100vh;
    }
  }
}

/*
  Max Height
----------------------------------------------------- */
[data-max-height] {
  --#{$prefix}-max-height: none;

  height: var(--#{$prefix}-max-height);
}

[data-max-height~="none"] {
  --#{$prefix}-max-height: none;
}

[data-max-height~="max-content"] {
  --#{$prefix}-max-height: max-content;
}

[data-max-height~="min-content"] {
  --#{$prefix}-max-height: min-content;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-max-height~="#{$device}:none"] {
      --#{$prefix}-max-height: none;
    }

    [data-max-height~="#{$device}:max-content"] {
      --#{$prefix}-max-height: max-content;
    }

    [data-max-height~="#{$device}:min-content"] {
      --#{$prefix}-max-height: min-content;
    }
  }
}

/*
  Min Height
----------------------------------------------------- */
[data-min-height] {
  --#{$prefix}-min-height: auto;

  height: var(--#{$prefix}-min-height);
}

[data-min-height~="auto"] {
  --#{$prefix}-min-height: auto;
}

[data-min-height~="max-content"] {
  --#{$prefix}-min-height: max-content;
}

[data-min-height~="min-content"] {
  --#{$prefix}-min-height: min-content;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-min-height~="#{$device}:auto"] {
      --#{$prefix}-min-height: auto;
    }

    [data-min-height~="#{$device}:max-content"] {
      --#{$prefix}-min-height: max-content;
    }

    [data-min-height~="#{$device}:min-content"] {
      --#{$prefix}-min-height: min-content;
    }
  }
}
