@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Height
----------------------------------------------------- */
[data-height~="full"] {
  height: 100%;
}

[data-height~="device"] {
  height: 100vh;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-height~="#{$device}:full"] {
      height: 100%;
    }

    [data-height~="#{$device}:device"] {
      height: 100vw;
    }
  }
}

/*
  Max Height
----------------------------------------------------- */
[data-max-height~="none"] {
  max-height: none;
}

[data-max-height~="max-content"] {
  max-height: max-content;
}

[data-max-height~="min-content"] {
  max-height: min-content;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-max-height~="#{$device}:none"] {
      max-height: none;
    }

    [data-max-height~="#{$device}:max-content"] {
      max-height: max-content;
    }

    [data-max-height~="#{$device}:min-content"] {
      max-height: min-content;
    }
  }
}

/*
  Min Height
----------------------------------------------------- */
[data-min-height~="none"] {
  min-height: none;
}

[data-min-height~="max-content"] {
  min-height: max-content;
}

[data-min-height~="min-content"] {
  min-height: min-content;
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-min-height~="#{$device}:none"] {
      min-height: none;
    }

    [data-min-height~="#{$device}:max-content"] {
      min-height: max-content;
    }

    [data-min-height~="#{$device}:min-content"] {
      min-height: min-content;
    }
  }
}
