@charset "UTF-8";
@use "sass:math";
@use "../global" as *;

// ====================================
//  Order
// ====================================
[data-order~="0"] {
  order: 0;
}

@for $i from 1 through 3 {
  [data-order~="-#{$i}"] {
    order: calc($i * -1);
  }

  [data-order~="#{$i}"] {
    order: $i;
  }
}

@each $device, $breakpoint in $breakpoints {
  @include mq($device) {
    [data-order~="#{$device}:0"] {
      order: 0;
    }

    @for $i from 1 through 3 {
      [data-order~="#{$device}:-#{$i}"] {
        order: calc($i * -1);
      }

      [data-order~="#{$device}:#{$i}"] {
        order: $i;
      }
    }
  }
}
